{% extends 'main/base.html' %}

{% block title%} {{title}} {% endblock %}

{% block content%}
<div class="container-fluid bg-primary py-3 " style="--bs-bg-opacity: .7;">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1 class="text-center text-white mb-4">ЦЕНТР IT КУБ</h1>
        </div>
        <div>
            <h4 class="text-center text-white mb-4"> площадка дополнительного образования детей во Владивостоке по программам,
                направленным на ускоренное освоение актуальных и востребованных знаний, навыков и компетенций в сфере
                информационных технологий</h4>
        </div>
        <style>

        </style>


    </div>
    <div>
        <button type="button" class="btn text-white">🠗</button>
    </div>

</div>
<footer>

</footer>

<style>
.btn{
width: 40px;
height: 40px;
margin-left: 50%;
font-size:25px;
text-align: center;
}

</style>
{% endblock %}